USE [master]
GO
/****** Object:  Database [DBTEST]    Script Date: 02/03/2020 21:17:46 ******/
CREATE DATABASE [DBTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBTEST.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBTEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBTEST_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTEST]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 02/03/2020 21:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[columna1] [uniqueidentifier] NOT NULL,
	[columna2] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[columna1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
